ul > li{
  background-color: rgb(254, 229, 77);
}

ul > li > span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px; 
  height: 16px;
  border-radius: 8px;
  background-color: rgb(234, 234, 234);
}

.done{
  color: rgb(93, 93, 93);
  background-color: rgb(234, 234, 234);
}
